- content_for :stylesheets do
  = stylesheet_link_tag 'admin/groups'

%h2== Updating #{@group.name}

- form_for [:admin, @group] do |f|
  %ul
    %li
      = f.label :name
    %li
      = f.text_field :name
    %li
      = f.submit 'Update'
