- content_for :stylesheets do
  = stylesheet_link_tag 'admin/groups'

%h2 Groups

%ul#groups
  - for group in @groups
    %li[group]
      %h3= link_to group.name, [:admin, group], :title => group.name
      = link_to_group group
      = link_to 'Remove', [:admin, group], :method => :delete, :class => 'group_link'

%h2
  = link_to 'Add Group', new_admin_group_url, :id => 'new_group_link'
