- content_for :stylesheets do
  = stylesheet_link_tag 'admin/images'

%h2= @group.name

#main_image
  - if @image
    %ul.controls
      %li
        = link_to 'Rethumb', '#'
      %li
        = link_to 'Change Image', '#'
      %li
        = link_to 'Remove', [:admin, @group, @image], :method => 'delete'
      %li
        = link_to 'Add Image', new_admin_group_image_url(@group)
  = image_tag image?(@image)

%ul#images
  - for image in @group.images
    %li[image]
      = link_to image_tag(image.url('thumb')), group_image_url(@group, image)
