!!!
%html
  %head
    %title Imijit
    = stylesheet_link_tag "http://yui.yahooapis.com/2.5.2/build/reset/reset-min.css"
    = stylesheet_link_tag "http://yui.yahooapis.com/2.5.2/build/fonts/fonts-min.css"
    = stylesheet_link_tag 'imijit'
    = javascript_include_tag 'jquery.js'
    = yield :stylesheets
    = yield :javascripts
  %body
    %h1= link_to 'Imijit', root_url
    = yield
